
@main("Adding category to your product") {

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
               <a href="homepage"><img src="@routes.Assets.at("images/Logo.png")" /></a>
                
            </div>
        </div>
        <!-- /.container -->
     </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="well login-box">
                        <form action="/">
                          	<legend>Select category: </legend>
                            <div class="form-group">
                                 <div class="list-group">
                  	 				 	<a href="addproduct/1" class="list-group-item">Fashion</a>
                    					<a href="addproduct" class="list-group-item">Collectibles & Art</a>
                   						<a href="addproduct" class="list-group-item">Sporting Goods</a>
                				</div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
}
