
@main("Admin page"){
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a href="/homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
                
            </div>
        </div>
        <!-- /.container -->
    </nav>
    
     <div class="container">
       
        <div class="row">
            <div class="col-md-4 portfolio-item">
				<h2>Category</h2>            
               <ul>
              	<li>
						<a href="/deletecategorypage">
                         <button class="btn btn-success btn-login"> Delete Category</button>
                        </a>
				</li>
				<li>
                        <a href="addnewcategory">
                         <button class="btn btn-success btn-login"> Add New Category</button>
                        </a>
                    </li>
					
              
               
               </ul>
            </div>
            
               <div class="col-md-4 portfolio-item">
				<h2>Product</h2>            
               <ul>
                 <li>
                   <a href="/deleteproductpage">
                         <button class="btn btn-success btn-login"> Delete Product</button>
                        </a>
				</li>
              <li>
                        <a href="addproductcategory">
                         <button class="btn btn-success btn-login"> Add New Product</button>
                        </a>
               </li>
               
               </ul>
            </div>
            
              <div class="col-md-4 portfolio-item">
				<h2>User</h2>            
               <ul>
               <li>
                        <a href="list">
                         <button class="btn btn-success btn-login"> List of users</button>
                        </a>
                   </li>
           
               
               </ul>
            </div>
       </div>
       </div>
   
	
	
	
		
}
