@(email: String,user: User, faqs: List[FAQ])

@main("Update additional Info") {
		<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <a href="homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li>
              
            <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
               </div>
               <button type="submit" class="btn btn-success glyphicon glyphicon-search"></button>
            </form>
         </li>
               @if(email == null) {
            <li>
               <h4>
                  <p style="color: #000">Hello, please  
                     <a href="login">
                     <button class="btn btn-success btn-login"> Log in</button> 
                     </a>
                     or 
                     <a href="toregister">
                     <button class="btn btn-success btn-register" >Register</button>
                     </a>
                  </p>
               </h4>
            </li>
         </ul>
         } else {
      
         <li >
            <a style="margin: -6.5px -15px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <button class="btn btn-success glyphicon glyphicon-user">  @User.find(email).username <span class="caret"></span> </button></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
               @if(User.find(email).admin == true) {
               <li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' > Profile</a></li>
               } else {
               <li role="presentation"><a role="menuitem" tabindex="-1"  href="addproductcategory"> Add New Product</a></li>
               }
               <li class="divider"></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="logout">Logout</a></li>
            </ul>
         </li>
         </ul>
         }
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>

	<div style="margin: 70.5px -15px" class="row">
		<div class="col-md-12">
		@if(flash.get("error")){
			<h2><center><strong> @flash.get("error") </strong></center> </h2>
		}
		@if(flash.get("warning")){
			<h2><center><strong> @flash.get("warning") </strong></center> </h2>
		}
			<div class="col-sm-4">
				<div class="well login-box">
				 
					<form action="/editinfo"  method="POST">
						<legend>Update additional info </legend>
						
						
						
						<dl class=" " id="username_field">
							<dt><label for="username">Username:</label> </dt>
							<dd><input value="@user.username" name="username" id="username" placeholder="Choose your username" type="text" class="form-control" required/></dd>
						</dl>
						
						<dl class=" " id="birth_date_field">
							<dt><label for="birth_date">Date of birth:</label> </dt>
							<dd><input name="birth_date" id="birth_date" value="@user.birth_date" placeholder="Enter your birth date" type="date"  max="1-12-2030" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="city_field">
							<dt><label for="city">City:</label> </dt>
							<dd><input name="city" id="city" value="@user.city" placeholder="Enter your city" type="text" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="shipping_address_field">
							<dt><label for="shipping_address">Shipping address:</label> </dt>
							<dd><input name="shipping_address" id="shipping_address" value="@user.shipping_address" placeholder="Enter your shipping address" type="text" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="user_address_field">
							<dt><label for="user_address">Address:</label> </dt>
				<dd><input name="user_address" id="user_address" value="@user.user_address" placeholder="Enter your address" type="text" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="gender_field">
							<dt><label for="gender">Gender:</label> </dt>
							<dd><input name="gender" id="gender" value="@user.gender" placeholder="Enter your gender: m-male; f-female" type="text" class="form-control" maxlength="1" required/> </dd>

						</dl>

						<div class="form-group text-center">
							<input type="submit" value="Add" class="btn btn-success"/>
							<a href="/homepage" class="btn btn-danger"> Back </a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	 <div class="container">
   <hr>
   <a href="/contactpage">
      <h3>Contact Us</h3>
   </a>
   <a href="faq">
      <h3> FAQs</h3>
   </a>
</div>
<!-- /.container -->
</body>
}

