@(email: String,user: User, faqs: List[FAQ])

@main("Update additional Info") {
		<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="margin: 0px 20px" >
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a href="/homepage" ><img src="@routes.Assets.at("images/Logo.png")" style="height:50 px; width: 130px"/></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         @if(email == null) {
         <ul class="nav navbar-nav">
            <li  style="margin: 0px 155px">
               <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
                  <div class="form-group">
                     <input type="text" class="form-control" name="q" id="q" size="40" placeholder="Search..." required>
                  </div>
                  <div class="btn-group">
                     <button type="submit" class="btn btn-success glyphicon glyphicon-search" style="margin: -1px 2px"></button>
                     <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                     </button>
                     <ul class="dropdown-menu" role="menu" style="margin: 1px -90px">
                        <li>
                           <a href="/advancedsearch">Advanced Search</a>
                        </li>
                     </ul>
                  </div>
               </form>
            </li>
            <li>
               <h4>
                  <p style="color: #000">Hello   
                     <a href="/login">
                     <button class="btn btn-success btn-login"> Log in</button> 
                     </a>
                     or 
                     <a href="/toregister">
                     <button class="btn btn-success btn-register" >Register</button>
                     </a>
                  </p>
               </h4>
            </li>
         </ul>
         } else {
         <ul class="nav navbar-nav">
         <li  style="margin: 0px 180px">
            <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" name="q" id="q" size="40" placeholder="Search..." required>
               </div>
               <div class="btn-group">
                  <button type="submit" class="btn btn-success glyphicon glyphicon-search" style="margin: -1px 2px"></button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu" style="margin: 1px -90px">
                     <li>
                        <a href="/advancedsearch">Advanced Search</a>
                     </li>
                  </ul>
               </div>
            </form>
         </li>
         <ul class='nav navbar-nav pull-right'>
            <li>
               }
            </li>
            @if(email != null) {
            <li class='dropdown'>
               <a style="margin: -6.5px -15px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
               @if( Orders.notificationCounter(User.find(email).soldOrders)>0){
               <button class="btn btn-success "><i class="glyphicon glyphicon-info-sign" style="color: #BD851E;">  </i>  @User.find(email).username   <span class="caret"></span> </button></a>
               }else{<button class="btn btn-success glyphicon glyphicon-user"> @User.find(email).username <span class="caret"></span> </button></a>
               }
               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                  @if(User.find(email).admin == true) {
                  <li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' >Profile</a></li>
                  <li class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
                  } else {
                  <li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' >Profile</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  href="/addproductcategory"> Add New Product</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-4"  href="/cartpage/@User.find(session().get("email")).id"> My Cart</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-5"  href="/orderpage/@User.find(session().get("email")).id"> My Orders</a></li>
                  @if(email != null && Orders.notificationCounter(User.find(email).soldOrders)>0){
                  <li role="presentation"><a role="menuitem" tabindex="-5"  href="/soldorder/@User.find(session().get("email")).id"><i class="glyphicon glyphicon-info-sign" style="color: #BD851E;"> </i> Notifications </a>
                  </li>
                  }
                  <li class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
               </ul>
            </li>
         </ul>
         }
         }
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>
	<div style="margin: 70.5px -15px" class="row">
		<div class="col-md-12">
		 @if(flash.get("error")){
        <div class="alert alert-danger" role="alert">
                     <div class="container">
                        @flash.get("error")
                     </div>
                  </div>
         }
         @if(flash.get("warning")){
       <div class="alert alert-warning" role="alert">
                     <div class="container">
                        @flash.get("warning")
                     </div>
                  </div>
         }
          @if(flash.get("success")) {
         	<div class="alert alert-success" role="alert">
                     <div class="container">
                        @flash.get("success")
                     </div>
                  </div>
         	}
         <div 
			<div class="col-sm-4">
				<div class="well login-box">
				 
					<form action="/editinfo"  method="POST">
						<legend>Update additional info </legend>
						
						
						
						<dl class=" " id="username_field">
							<dt><label for="username">Username:*</label> </dt>
							<dd><input value="@user.username" name="username" id="username" placeholder="Choose your username" type="text" class="form-control" /></dd>
						</dl>
						
						<dl class=" " id="birth_date_field">
							<dt><label for="birth_date">Date of birth:*</label> </dt>
							<dd><input name="birth_date" id="birth_date" value="@user.birth_date" placeholder="Enter your birth date" type="date"  max="1-12-2030" class="form-control" /> </dd>
						</dl>
						
						<dl class=" " id="city_field">
							<dt><label for="city">City:*</label> </dt>
							<dd><input name="city" id="city" value="@user.city" placeholder="Enter your city" type="text" class="form-control" /> </dd>
						</dl>
						
						<dl class=" " id="shipping_address_field">
							<dt><label for="shipping_address">Shipping address:*</label> </dt>
							<dd><input name="shipping_address" id="shipping_address" value="@user.shipping_address" placeholder="Enter your shipping address" type="text" class="form-control" /> </dd>
						</dl>
						
						<dl class=" " id="user_address_field">
							<dt><label for="user_address">Address:*</label> </dt>
				<dd><input name="user_address" id="user_address" value="@user.user_address" placeholder="Enter your address" type="text" class="form-control" /> </dd>
						</dl>
						
						<dl class=" " id="gender_field">
							<dt><label for="gender">Gender:*</label> </dt>
							<dd><input name="gender" id="gender" value="@user.gender" placeholder="Enter your gender: m-male; f-female" type="text" class="form-control" maxlength="1" /> </dd>

						</dl>

						<div class="form-group text-center">
							<input type="submit" value="Add" class="btn btn-success"/>
							@if(User.find(email).admin) {
								<a href="/profile" class="btn btn-danger"> Back </a>
								} else {
								<a href="/homepage" class="btn btn-danger"> Back </a>
								}
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	 <div class="container">
   <hr>
   <a href="/contactpage">
      <h3>Contact Us</h3>
   </a>
   <a href="/faq">
      <h3> FAQs</h3>
   </a>
</div>
<!-- /.container -->
</body>
}

