@(user: User)

@main("Update additional Info") {
		<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
			</div>
		</div>
		<!-- /.container -->
	</nav>

	<div class="row">
		<div class="col-md-12">
		@if(flash.get("error")){
			<h2><center><strong> @flash.get("error") </strong></center> </h2>
		}
		@if(flash.get("warning")){
			<h2><center><strong> @flash.get("warning") </strong></center> </h2>
		}
			<div class="col-sm-4">
				<div class="well login-box">
				 
					<form action="/editinfo"  method="POST">
						<legend>Update additional info </legend>
						
						
						
						<dl class=" " id="username_field">
							<dt><label for="username">Username:</label> </dt>
							<dd><input value=@user.username name="username" id="username" placeholder="Choose your username" type="text" class="form-control" required/></dd>
						</dl>
						
						<dl class=" " id="birth_date_field">
							<dt><label for="birth_date">Date of birth:</label> </dt>
							<dd><input name="birth_date" id="birth_date" value=@user.birth_date placeholder="Enter your birth date" type="date"  max="1-12-2030" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="city_field">
							<dt><label for="city">City:</label> </dt>
							<dd><input name="city" id="city" value=@user.city placeholder="Enter your city" type="text" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="shipping_address_field">
							<dt><label for="shipping_address">Shipping address:</label> </dt>
							<dd><input name="shipping_address" id="shipping_address" value=@user.shipping_address placeholder="Enter your shipping address" type="text" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="user_address_field">
							<dt><label for="user_address">Address:</label> </dt>
							<dd><input name="user_address" id="user_address" value=@user.user_address placeholder="Enter your address" type="text" class="form-control" required/> </dd>
						</dl>
						
						<dl class=" " id="gender_field">
							<dt><label for="gender">Gender:</label> </dt>
							<dd><input name="gender" id="gender" value=@user.gender placeholder="Enter your gender: m-male; f-female" type="text" class="form-control" maxlength="1" required/> </dd>
						</dl>
					
						
						
						<div class="form-group text-center">
							<input type="submit" value="Add" class="btn btn-success"/>
							<a href="/homepage" class="btn btn-danger"> Back </a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
}

