@(username: String)

@main("HomePage") {


    <!-- Navigation -->
   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            	<a href="homepage"><img src="@routes.Assets.at("images/Logo.png")" /></a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 @if(username == null) {
                    <ul class="nav navbar-nav">
                     <li>
                        <a href="#"></a>
                    </li>

                    <li>
                         <h4>
                            <p style="color: #9B9BAB">Hello, to access our app please  
                                <a href="login">
                                    <button class="btn btn-default btn-login"> Log in</button> 
                                </a>
                                or 
                                 <a href="toregister">
                                    <button class="btn btn-default btn-register" >Register</button>
                                </a>
                            </p>
                         </h4>
                    </li>
                    
                   
                    
                </ul>
                 } else {
  
                   <ul class="nav navbar-nav">

                    <li>
                        <a href="addcategory">
                         <button class="btn btn-default btn-login"> Add New Product</button>
                        </a>
                    </li>
                    
                    <li>
                       
                    </li>
                    <li>
                        <a href="HomePage.html">
                            <button class="btn btn-danger btn-cancel-action">Log out</button>
                        </a>
                    </li>
                </ul>

    }
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
   
	<h1>Hello, @username!</h1>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
               
                <div class="list-group">
	                    <a href="category/Fashion" class="list-group-item">Fashion</a>
	                    <a href="category/Collectibles & Art" class="list-group-item">Collectibles & Art</a>
	                    <a href="category/Sporting Goods" class="list-group-item">Sporting Goods</a>
						<a href="category/Electronics" class="list-group-item">Electronics</a>
	 					<a href="category/Home & Garden" class="list-group-item">Home & Garden</a>
	                    <a href="category/Toys & Hobbies" class="list-group-item">Toys & Hobbies</a>
	                    <a href="category/Entertainment" class="list-group-item">Entertainment</a>
	                    <a href="category/Motors" class="list-group-item">Motors</a>
                   
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4><a href="#">First Product</a>
                                </h4>
                                
                            </div>
                        </div>
                   </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->



}
