@(email: String, categoryList:List[Category], products:List[Product], faqs: List[FAQ])
@main("HomePage") {
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <a href="homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li style="margin: 0px 35px">
              
            <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
               </div>
               <button type="submit" class="btn btn-success glyphicon glyphicon-search"></button>
            </form>
         </li>
               @if(email == null) {
            <li>
               <h4>
                  <p style="color: #000">Hello, please  
                     <a href="login">
                     <button class="btn btn-success btn-login"> Log in</button> 
                     </a>
                     or 
                     <a href="toregister">
                     <button class="btn btn-success btn-register" >Register</button>
                     </a>
                  </p>
               </h4>
            </li>
         </ul>
         } else {
         <ul class='nav navbar-nav pull-right'>

                    <li class='dropdown'>
               <a style="margin: -6.5px -15px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
               <button class="btn btn-success glyphicon glyphicon-user">  @User.find(email).username <span class="caret"></span> </button></a>
              
               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                 @if(User.find(email).admin == true) {
                  <li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' >Profile</a></li>
                  
                  } else {
                  <li role="presentation"><a role="menuitem" tabindex="-1"  href="addproductcategory"> Add New Product</a></li>
                   <li role="presentation"><a role="menuitem" tabindex="-2"  href="editinfo"> Add Additional Info</a></li>
                   <li role="presentation"><a role="menuitem" tabindex="-3"  href="myproducts/@User.find(session().get("email")).id"> My Products</a></li>
                   <li role="presentation"><a role="menuitem" tabindex="-4"  href="cartpage/@User.find(session().get("email")).id"> My Cart</a></li>
                   <li role="presentation"><a role="menuitem" tabindex="-5"  href="orderpage/@User.find(session().get("email")).id"> My Orders</a></li>
                 
                  }
                  <li class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="logout">Logout</a></li>
               </ul>
            </li>
         </ul>
         }
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
<div class="row">
<div class="col-md-3">
   <div class="list-group">
      @for(category <- categoryList){
      <a href="category/@category.name" class="list-group-item glyphicon glyphicon-shopping-cart"> @category.name </a>
      }
   </div>
</div>
<div class="col-md-9">
   <div class="row carousel-holder">
      <div class="col-md-12">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
               </li>
               <li data-target="#carousel-example-generic" data-slide-to="1">
               </li>
               <li data-target="#carousel-example-generic" data-slide-to="2">
               </li>
            </ol>
            <div class="carousel-inner">
               <div class="item active">
                  <a href="http://download.cnet.com/Magix-Movie-Edit-Pro-2015-Plus/3000-13631_4-10476357.html">
                  <img class="slide-image" src="@routes.Assets.at("images/ExpoDisc-Webtile-800x300.jpg")"/ >
                  </a>    
               </div>
               <div class="item">
                  <a href="http://thewebsitecircle.com/social-media"/>
                  <img class="slide-image" src="@routes.Assets.at("images/003-800x300.jpg")" >
                  </a>    
               </div>
               <div class="item">
                  <a href="http://bitcamp.ba">
                  <img class="slide-image" src="@routes.Assets.at("images/Untitled.jpg")" />
                  </a>    
               </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
         </div>
      </div>
   </div>
   <div class="row">
      @for(product <- products){
      <div class="col-sm-4 col-lg-4 col-md-4">
         <div class="thumbnail">
            <img src="@routes.Assets.at(product.image_url)" alt="">
            <div class="caption">
               <h4 class="pull-right">US @product.price $</h4>
               <h4> <a href="itempage/@product.id">@product.name</a>
               </h4>
               <p> @product.description @if(product.sold==true){<strong> SOLD!!! </strong>} </p>
            </div>
         </div>
      </div>
      }
   </div>
</div>
<!-- /.container -->
<div class="container">
   <hr>
   <a href="/contactpage">
      <h3>Contact Us</h3>
   </a>
   <a href="faq">
      <h3> FAQs</h3>
   </a>
</div>
<!-- /.container -->
}
