@(email: String, product: Product, faqs: List[FAQ], images: List[Image], comments: List[Comment], categoryList:List[Category])

@import java.math.BigInteger; var i=0
@main("ItemPage") {
	<link href="@routes.Assets.at("stylesheets/star-rating.css")" rel="stylesheet"/>
				<link href="@routes.Assets.at("stylesheets/star-rating.min.css")" rel="stylesheet"/>
				<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet"/>
				<script type="text/javascript" src="@routes.Assets.at("javascripts/star-rating.js")"></script>
				<script type="text/javascript" src="@routes.Assets.at("javascripts/star-rating.min.js")"></script>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="margin: 0px 20px" >
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a href="/homepage" ><img src="@routes.Assets.at("images/Logo.png")" style="height:50 px; width: 130px"/></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         @if(email == null) {
         <ul class="nav navbar-nav">
            <li  style="margin: 0px 155px">
               <li  style="margin: 8px -5px">
           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category
                  <span class="caret"></span>
                  
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                  <ul class="dropdown-menu" role="menu" style="margin: 4px -110px">
                     <li>
                      
      @for(category <- categoryList){
      <a href="/category/@category.name" class="glyphicon glyphicon-shopping-cart"> @category.name </a>
      }
  
                     </li>
                  </ul>
         </li>
               <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
                  <div class="form-group">
                     <input type="text" class="form-control" name="q" id="q" size="40" placeholder="Search..." required>
                  </div>
                  <div class="btn-group">
                     <button type="submit" class="btn btn-success glyphicon glyphicon-search" style="margin: -1px 2px"></button>
                     <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                     </button>
                     <ul class="dropdown-menu" role="menu" style="margin: 1px -90px">
                        <li>
                           <a href="/advancedsearch">Advanced Search</a>
                        </li>
                     </ul>
                  </div>
               </form>
            </li>
            <li>
               <h4>
                  <p style="color: #000">Hello   
                     <a href="/login">
                     <button class="btn btn-success btn-login"> Log in</button> 
                     </a>
                     or 
                     <a href="/toregister">
                     <button class="btn btn-success btn-register" >Register</button>
                     </a>
                  </p>
               </h4>
            </li>
         </ul>
         } else {
         <ul class="nav navbar-nav">
         
         <li  style="margin: 0px 80px">
         <li  style="margin: 8px -5px">
           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category
                  <span class="caret"></span>
                  
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                  <ul class="dropdown-menu" role="menu" style="margin: 4px -110px">
                     <li>
                      
      @for(category <- categoryList){
      <a href="/category/@category.name" class="glyphicon glyphicon-shopping-cart"> @category.name </a>
      }
  
                     </li>
                  </ul>
         </li>
       		
            <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" name="q" id="q" size="40" placeholder="Search..." required>
               </div>
               <div class="btn-group">
                  <button type="submit" class="btn btn-success glyphicon glyphicon-search" style="margin: -1px 2px"></button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu" style="margin: 4px -90px">
                     <li>
                        <a href="/advancedsearch">Advanced Search</a>
                     </li>
                  </ul>
               </div>
            </form>
         </li>
         <ul class='nav navbar-nav pull-right'>
            <li>
               }
            </li>
            @if(email != null) {
            <li class='dropdown'>
               <a style="margin: -6.5px -15px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
               @if( User.getUncheckedNotifications(User.find(email).id).size()>0){
               <button class="btn btn-success "><i class="glyphicon glyphicon-info-sign" style="color: #BD851E;">  </i>  @User.find(email).username   <span class="caret"></span> </button></a>
               }else{
               <button class="btn btn-success glyphicon glyphicon-user"> @User.find(email).username <span class="caret"></span> </button></a>
               }
               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                  @if(User.find(email).admin == true || User.find(email).blogger) {
                  	@if(!User.find(email).blogger) {
                  		<li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' >Profile</a></li>
                  	}
                  	@if(User.find(email).blogger) {
                  		<li role="presentation"><a role="menuitem" tabindex="-1" href='/blog' >Blog</a></li>
                  	}
                  	<li class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
                  } else {
                  <li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' >Profile</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  href="/addproductcategory"> Add New Product</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-4"  href="/cartpage/@User.find(session().get("email")).id"> My Cart</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-5"  href="/orderpage/@User.find(session().get("email")).id"> My Orders</a></li>
                  @if(email != null && User.getUncheckedNotifications(User.find(email).id).size()>0){
                  <li role="presentation"><a role="menuitem" tabindex="-5"  href="/soldorder/@User.find(session().get("email")).id"><i class="glyphicon glyphicon-info-sign" style="color: #BD851E;"> </i> Notifications </a>
                  </li>
                  }
                  <li class="divider"></li>
                   <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
               </ul>
            </li>
         </ul>
         }
        
         }
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>

   <div class="container">
   @if(flash.get("excess")){
         <div class="alert alert-warning" role="alert">
                     <div class="container">
                        @flash.get("excess")
                     </div>
                  </div>
         }
         @if(flash.get("error")){
        <div class="alert alert-danger" role="alert">
                     <div class="container">
                        @flash.get("error")
                     </div>
                  </div>
         }
         @if(flash.get("warning")){
       <div class="alert alert-warning" role="alert">
                     <div class="container">
                        @flash.get("warning")
                     </div>
                  </div>
         }
          @if(flash.get("success")) {
         	<div class="alert alert-success" role="alert">
                     <div class="container">
                        @flash.get("success")
                     </div>
                  </div>
         	}
          @if(flash.get("minQty")){
         <div class="alert alert-warning" role="alert">
                     <div class="container">
                        @flash.get("minQty")
                     </div>
                  </div>
         }
      <div style="margin: 80px -15px" class="row">
     
         <div class="col-md-5" style="margin: 0px 75px">
            <centar>
               <div class="row carousel-holder">
                  <div class="col-md-12">
                     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                           <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                           </li>
                           @for(img <- images) {
                           @if(images.indexOf(img) != 0) {    
                           @{i=i+1}                  
                           <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                           }
                           }
                        </ol>
                        <div class="carousel-inner" >
                           <div class="item active">       
                              <img class="slide-image" src="@routes.Assets.at(images.get(0).image)" style="width:600px;height:278px"/>  
                           </div>
                           @for(img <- images) {
                           @if(images.indexOf(img) == 0) {
                           } else {
                           <div class="item">       
                              <img class="slide-image" src="@routes.Assets.at(img.image)" style="width:600px;height:278px"/>  
                           </div>
                           }
                           }
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        <div style="background-color:#fff; width:100%">  
                        <h4 class="pull-right" style="background-color:#fff; margin: -3px 0px"> @product.price $</h4>
               			<h4 style="background-color:#fff;">@product.name</div>
            </centar>
            </div>
             @if( email != null){
             @if((User.find(email).admin == false)) {
            </div>
            }
            } else {
              </div>
            }
            </div>
            <div class="col-md-11">
              
               </h4>
               <br>
               <h4> On Stock: @product.quantity </h4>
              
               @if((email==null)||(User.find(email).admin == false)) {
               @if((product.sold==false)&&(session().get("email")!=product.owner.email)){
               	 
               @if(email!=null){
               @if(!User.find(email).blogger){
               <form action="@routes.ProductApplication.productToCart(product.id)"  method="POST" enctype="multipart/form-data">
                  <div>
                     <dl class=" " id="orderedQuantity_field">
                        <dt><label for="orderedQuantity">Quantity:</label> </dt>
                        <dd>
                        <div class='col-md-8'>
                        <input maxlength="6" size="6" name="orderedQuantity" id="orderedQuantity" value='1'  placeholder="Enter quantity " type="number" step="1" min="1"  max="999999" class="form-control" required/> 
                        </div>
                        <div class='col-md-4'>
                        
                        	<input type="submit" class="btn btn-success " value="Add to cart" style="  width: 200px;" />
                        
                        </div>
                        </dd>
                    	
                     </dl>
                  </div>
                   
                   </form>
                   }
                   }
                  }
                  }
                   @if(session().get("email")!=product.owner.email) {
                   	@if(email!=null){
                   		@if(!User.find(email).blogger){
	                   		<br />
		                  <h4>In Cart(this item): @product.getOrderedQuantity</a>
		                  </h4>
                   		}
                   	} 	
                  }
                   
                  
                  @if((email==null)||(User.find(email).admin == false)) {
                  @if((product.sold==false)&&(session().get("email")!=product.owner.email)){
                  	 
             
               }	@if(email!=null) {
            	 <div class="btn-group btn-group-justified1" style="margin: 30px -10px">
            	 } else {
            	 
            	  <div class="btn-group btn-group-justified" style="margin: 30px 40px">
            	 }
               @if(session().get("email")!=product.owner.email) {
               		@if(email!=null){
               	@if(!User.find(email).blogger){
               		 <a href="/userprofile/@product.owner.id"
		               type="button" class="btn btn-default" style="background-color: #f5f5f5;">Visit seller profile
		               </a>
               	}
                }
               }
               @if(session().get("email")!=product.owner.email && session().get("email")!=null){
               	@if(!User.find(email).blogger){
	               <a href="/contactsellerpage/@product.id"
	               type="button" class="btn btn-default" style="background-color: #f5f5f5;">Contact seller
	               </a>
                }
               }
               @if(session().get("email")!=product.owner.email && session().get("email")!=null){
               	@if(!User.find(email).blogger){
	               <a href="/reportproductpage/@product.id"
	               type="button" class="btn btn-default" style="background-color: #f5f5f5;">Report product
	               </a>
	               }
               }
               } 
               @{i=0}
               @if(email!=null) {
               @for(order <- User.find(session().get("email")).orderList) {
               	 @for(p <- order.productList){
               	 	@if(p.id == product.id && i == 0) { 
               	 		<a href="/rating/@product.owner.id"
               type="button" class="btn btn-default" style="background-color: #f5f5f5;">Rate Seller
               </a>
               @{i=i+1}
               	 	}
               }
               }

               }
                 </div>
                 
            </div>
            
         </div>
         <div class="col-md-5" style="margin: 0px 15px">
         
         <h5>Seller email: <strong>@product.owner.email</strong></h5>
		
		  <h5>
            Seller rate:
           
             </h5>
            
                  <input id="rate" value="@product.owner.rating" name="rate" type="number" class="rating" min=0 max=5 step=1 data-size="xs" disabled>   		 
            
              
			
      		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin: 30px -10px;">
  			<div class="panel panel-default">
    			<div class="panel-heading" role="tab" id="headingOne"   style="background-color: #4AB55A;">
      			<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Description:
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" style="background-color: #f5f5f5;">
       	@product.description
        </div>
    </div>
     </div>
     @if(session().get("email") != null) {
                                    @if(User.find(session().get("email")).admin) { 
    <div style="margin: 10px 70px">
               <a class="btn btn-danger glyphicon glyphicon-trash" href="/deleteproduct/@product.id" role="button" onclick="return confirm('Are you sure you want to delete this product?');">Delete product</a> 
            </div>
            }
            }
    
 
         
          
         </div>
           
            <table class='table' style="margin: 50px 0px">
               <thead>
                
                     <th style="float: left"> Comments: </th>
                  
               </thead>
               <tbody>
                  @if(comments != null) {
                  @for(comment <- comments){
                  @if(comment.product == product) {
                  <div class="product-image-wrapper">
                     <div class="single-products">
                        <div class="productinfo text-center">
                           <tr>
                              <td>
                                 <li>
                                    <p> <strong>@comment.owner.email: </strong> @comment.comment </p>
                                    
                                    @if(session().get("email") != null) {
                                    @if(User.find(session().get("email")).admin) { 
                                    <a href="@routes.ProductApplication.deleteComment(comment.id, product.id)" onclick="return confirm('Are you sure you want to delete this comment?');"class="btn btn-danger">Delete</a>
                                    }  
                                    }
                                 </li>
                              </td>
                           </tr>
                        </div>
                     </div>
                  </div>
                  }
                  }
                  }
                  
      
               </tbody>
        
         </table>
           
      </div>
   </div>
   </div>
   </div>
   <div id="footer" style="background-color: #f5f5f5;   position: relative;">
  <div class="container">

   
  	<div class="col-md-4">
   <a href="/contactpage">
      <h3><i class="glyphicon glyphicon-envelope"></i> Contact Us</h3>
   </a>
   <a href="/faq">
      <h3><i class="glyphicon glyphicon-cog"></i> FAQs</h3>
   </a>
   <a href="/blog">
      <h3><i class="glyphicon glyphicon-stats"></i> Blog </h3>
   </a>
   </div>
   
  	<div class="col-md-4">
             
                  <h2 style="color: #4AB55A">About bitBay:</h2>
                  <address style="color: #4AB55A">
                     <p>Project bitBay mirror site of eBay</p>  
                     <p>Sarajevo</p>
                     <p>Bosnia and Herzegovina</p>
                      <p>Contact: (061) 100-100</p>  
                  </address>
            
            </div>
 	<div class="col-md-4">
  	<style>.xg_module_body img {margin:0!important;}</style>
<div align="center" style="margin:20px 0px">
<table cellpadding="0" width="156" cellspacing="0" style="margin:20px 0px">
	<tr>
		  <h3 style="color: #4AB55A">Follow us on:</h3>
	<td>
		<a href="http://www.facebook.com/pages/yourfanpage/12345678" target="_blank">
			<img src="http://api.ning.com/files/yK4NcMrBlofWleqeABbNHR-JwhBMxMRlC7NRM0KCYhLk4i-pqoO0AYXzAp3bKHf0IYIP3Qjn0GVzm5V1Gv56dUqaq68hdmSW/facebooks1_60.png" alt="Join Our Facebook Fan Page" width="48" height="48" border="0">
		</a>
	</td>



	<td>
		<a href="http://twitter.com/yourtwitter" target="_blank">
			<img src="http://api.ning.com/files/vwYvIcXARnCDb7rmTyv-ajyO2kvmHyKJ813N8CvFCImegtIaEvi9NeRhZ1RWCqojSEvAqmOzVNsoWX4HPus6Zwt-nMYOBXWU/twitters1_60.png" alt="Follow Us On Twitter" width="48" height="48" border="0">
		</a>
	</td>
</tr>
</table></div>
</div>
  
 

</div>
</div>
<!-- /.container -->

}