@import helper._
@main("Login") {
<body>
   <!-- Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <a href="homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
         </div>
      </div>
      <!-- /.container -->
   </nav>
   <div class="row">
      <div class="col-md-12">
         @if(flash.get("success")){
         <h2>
            <center><strong> @flash.get("success") </strong></center>
         </h2>
         }
         @if(flash.get("validate")){
         <h2>
            <center><strong> @flash.get("validate") </strong></center>
         </h2>
         }
         <div class="col-sm-3">
            <div class="well login-box">
               <legend>Login</legend>
               @helper.form(routes.UserLoginApplication.login(), 'method-> "post"){
               <div class="form-group">
                  <label for="email">Email</label>
                  <input value='' name="email" id="email" placeholder="Email" type="email" class="form-control" required/>
               </div>
               <div class="form-group">
                  <label for="password">Password</label>
                  <input name ="password" id="password" value='' placeholder="Password" type="password" class="form-control" pattern=".{5,50}" required/>
               </div>
               <div class="form-group text-center">
                  <input type="submit" value="Login" class="btn btn-success btn-login-submit" />
                  <a class="btn btn-danger" href="homepage" role="button">Cancel</a>
               </div>
               }
            </div>
         </div>
      </div>
   </div>
</body>
}