@main("Add new FAQ") {
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
			</div>
		</div>
		<!-- /.container -->
	</nav>

	<div class="row">
		<div class="col-md-12">
		 @if(flash.get("success")) {
                    	<h4><center><strong> @flash.get("success") </strong></center> </h4>
                    	}
			<div class="col-sm-4">
				<div class="well login-box">
				 
					<form action="@routes.FAQController.addNewFAQ()" method ="POST" >
						<legend>Add FAQ </legend>
						
						
						<div class="col-sm-6 col-sm-offset-1">
					
					<div class="signup-form">
							<input type="text" name="question" id="question" placeholder="Question" required/>
							<textarea name="answer" id="answer" rows="6" placeholder="Answer"></textarea>
							<button type="submit" class="btn btn-default">Add FAQ</button>
								<p></p>
									<p></p>
										<p></p>
											<p></p>
						

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
}
