@main("Add new FAQ") {
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
			</div>
		</div>
		<!-- /.container -->
	</nav>

	<div class="row" align="center">
		
		 @if(flash.get("success")) {
                    	<div class="alert alert-success" role="alert">
                     <div class="container">
                        @flash.get("success")
                     </div>
                  </div>
                    	}
			 <div class="col-md-6 column">
			 <form action="@routes.FAQController.addNewFAQ()" method ="POST" >
				<div class="form-group">
				 
					
						<legend>Add FAQ </legend>
						  <label for="inputEmail3" class="col-sm-2 control-label">Question</label>
					<div class="col-sm-10">
               <input type="text" class="form-control" placeholder="Question" name="question" id="question" required>				
            </div>
            </div>
            <div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Answer</label>	
						<div class="col-sm-10">
             <textarea rows="5" cols="69" placeholder="Answer" name="answer" id="answer" required></textarea>
						 <p class="help-block"></p>
						</div>
         </div>
             <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
					<a href="/faq" class="btn btn-danger"> Back </a>
							<button type="submit" class="btn btn-success">Add FAQ</button>
									
					 </div>
                </div>
						

					</form>
				</div>
			</div>
	
</body>
}
