@import models.User;
@main("Order Success") {
<body>
  
              

@if(flash.get("orderSuccess")) {
         	<div class="alert alert-danger" role="alert">
                     <div class="container">
                        @flash.get("orderSuccess")
                     </div>
                  </div>
         	}
   
	
         @if(flash.get("failBuy")){
        <div class="alert alert-success" role="alert">
                     <div class="container">
                        @flash.get("failBuy")
                     </div>
                  </div>
         }
	
	
</div>
<div class="container">
    <div>
               <a class="btn btn-danger" href="/" role="button" onclick="">Go back</a> 
            </div>
</body>
}