@(email: String, users: List[User], categoryList: List[Category], products: List[Product],  faqs: List[FAQ])

@main("Profile") {
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <a href="homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li>
              
            <form class="navbar-form navbar-left"  method="GET" action="/search" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
               </div>
               <button type="submit" class="btn btn-success glyphicon glyphicon-search"></button>
            </form>
         </li>
               @if(email == null) {
            <li>
               <h4>
                  <p style="color: #000">Hello, please  
                     <a href="login">
                     <button class="btn btn-success btn-login"> Log in</button> 
                     </a>
                     or 
                     <a href="toregister">
                     <button class="btn btn-success btn-register" >Register</button>
                     </a>
                  </p>
               </h4>
            </li>
         </ul>
         } else {
      
         <li >
            <a style="margin: -6.5px -15px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <button class="btn btn-success glyphicon glyphicon-user">  @User.find(email).username <span class="caret"></span> </button></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
               @if(User.find(email).admin == true) {
               <li role="presentation"><a role="menuitem" tabindex="-1" href='/profile' > Profile</a></li>
               } else {
               <li role="presentation"><a role="menuitem" tabindex="-1"  href="addproductcategory"> Add New Product</a></li>
               }
               <li class="divider"></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="logout">Logout</a></li>
            </ul>
         </li>
         </ul>
         }
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>
  	
	<div class="container">
	<div style="margin: 80px -15px" class="row">
		<div class="col-md-3">
      <img src="@routes.Assets.at("images/250x250.png")" class="profile" />
      <button class="btn btn-large btn-block" type="button">Change profile picture</button>
      <h5>Username: @User.find(session().get("email")).username</h5> 
      <h5>Email:  @User.find(session().get("email")).email</h5> 
      <h5>Address:  @User.find(session().get("email")).user_address</h5> 
      <div class="col-md-5">
      <a href="/editinfo"><button class="btn btn-md btn-info" >Edit additional info</button></a>
       </div>
      </div>
      
  <div class="col-md-9">
        <ul class="nav nav-tabs">
        @if(User.find(session().get("email")).admin) {
          <li ><a href="#listofusers" data-toggle="tab">List Of Users</a></li>
          <li><a href="#categories" data-toggle="tab">Categories</a></li>
          <li><a href="#products" data-toggle="tab">Products</a></li> 
          }
        </ul>
        <div class="tab-content">
         <div class="tab-pane" class="tab-pane active" id="listofusers">
         			<div class="container">
   <div class="row">
      <table class='table'>
         <thead>
            <tr>
               <th style="float: left"> Email: </th>
            </tr>
         </thead>
         <tbody>
            @for(user <- users){
            <tr>
               <td> @user.email </td>
               <div>
                  <td style="float: left">  
                   
                     <a class="btn  btn-info glyphicon glyphicon-refresh" href="/updateuser/@user.id" role="button">Update</a>
                       @if(!user.email.equals(session().get("email"))) {
                     <a class="btn btn-danger  glyphicon glyphicon-trash " href="/deleteuser/@user.id" role="button" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                     }
                  </td>
               </div>
            </tr>
            }
         </tbody>
      </table>
   </div>
</div>
         </div><!--  end list of users -->
         <div class="tab-pane" class="tab-pane active" id="categories">
      
   
      <div class="form-group text-center">
       </div>
        <div style="margin:0 auto; width:100px">
     
      
         <a class="btn btn-success glyphicon glyphicon-plus" href="/addnewcategory" role="button"></a>
          
      </div>
     
      
         <table class='table'>
            <thead>
               <tr>
                  <th style="float: left"> Category: </th>
               </tr>
            </thead>
            <tbody>
               @for(category <- categoryList){
               <tr>
                  <td> <a href="category/@category.name" class="list-group-item glyphicon glyphicon-shopping-cart" reqiered> @category.name </a> </td>
                  <div>
                     <td style="float: left">  
                        <a class="btn  btn-info glyphicon glyphicon-refresh " href="/updatecategory/@category.id" role="button" );">Update</a>
                        <a class="btn btn-danger glyphicon glyphicon-trash" href="/deletecategory/@category.id" role="button" onclick="return confirm('Are you sure you want to delete this Category?');">Delete</a>
                     </td>
                  </div>
               </tr>
               }
            </tbody>
      </div>
      </table>
   
        
         </div><!--  end of categories -->
         <div class="tab-pane" class="tab-pane active" id="products"> 
          <form action="/">
    
     	 <div style="margin:0 auto;width:100px">
   
         <a class="btn btn-success glyphicon glyphicon-plus" href="/addproductcategory" role="button"></a>
        
         
     
      </div>
    
      
      <div class="row">
       <hr>
         @for(product <- products){           
         <div class="col-md-4 portfolio-item">
            <a href="#">
            <img class="img-responsive" src="@routes.Assets.at(product.image_url)" alt="">
            </a>
            <h3 class="pull-right">@product.price $</h3>
            <h3>
               <a href="/itempage/@product.id">@product.name</a>
            </h3>
            <p> @product.description </p>
            <div>
               <a class="btn  btn-info glyphicon glyphicon-refresh" href="/updateproduct/@product.id" role="button");">Update</a>
               <a class="btn btn-danger glyphicon glyphicon-trash" href="/deleteproduct/@product.id" role="button" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a> 
            </div>
         </div>
         }
      </div>
         </div>
        </div>
      </div>
   </div>
      </div>
    </div>
    <div class="container">
   <hr>
     <a href="/contactpage">
                                  <h3>Contact Us</h3>
                                </a>
       <a href="faq">
                        <h3> FAQs</h3>
                        </a>
</div>
   	
</body>
}