@(userForm: Form[User])
@import helper._

@main("Register") {


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
               <a href="homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
                
            </div>
        </div>
        <!-- /.container -->
     </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-3">
                    <div class="well login-box">
<form action="/register" method="GET">
<legend>Register</legend>
<dl class=" " id="username_field">
    
    <dt><label for="username">Username</label></dt>
    
    <dd>
    <input type="text" id="username" name="username" value="" placeholder="Enter username" class="form-control" required>
</dd>
    
    
</dl>

<dl class=" " id="password_field">
    
    <dt><label for="password">Password</label></dt>
    
    <dd>
    <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" required>
</dd>
        <dd class="info">Minimum length: 5</dd>
</dl>
 <div class="form-group text-center">
		<input type="submit" value="Register" class="btn btn-success" >
<a class="btn btn-danger" href="homepage" role="button">Cancel</a>
 </div>
</form>

</div>

                    </div>
                </div>
            </div>
        </div>
</body>
}


                              
                        
							
         