@(userForm: Form[User])
@import helper._
@main("Register") {
<body>
   <!-- Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <a href="homepage"><img src="@routes.Assets.at("images/bitBayLogo.gif")" /></a>
         </div>
      </div>
      <!-- /.container -->
   </nav>
   <div class="row">
      <div class="col-md-12">
       @if(flash.get("inDatabase") || flash.get("validate")){
                  <div class="alert alert-success" role="alert">
                     <div class="container">
                        @flash.get("inDatabase")
                        @flash.get("validate")
                     </div>
                  </div>
                  }
          @if(flash.get("error")) {
         	<div class="alert alert-success" role="alert">
                     <div class="container">
                        @flash.get("error")
                     </div>
                  </div>
         	}
         <div class="col-sm-3">
            <div class="well login-box">
               <form action="/register" method="GET">
                  <legend>Register</legend>
                  <dl class=" " id="email_field">
                     <dt><label for="email">Email</label></dt>
                     <dd>
                        <input type="email" id="email" name="email" value="" placeholder="Enter email" class="form-control" required>
                     </dd>
                  </dl>
                  <dl class=" " id="password_field">
                     <dt><label for="password">Password</label></dt>
                     <dd>
                        <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" pattern=".{5,50}" required >
                     </dd>
                     <dd class="info">Minimum length: 5</dd>
                  </dl>
                   <dl class=" " id="password_field">
                     <dt><label for="password">Confirm password</label></dt>
                     <dd>
                        <input type="password" id="confirm_pass" name="confirm_pass" placeholder="Confirm your password" class="form-control" pattern=".{5,50}" required >
                     </dd>
                  </dl>
                 
                  <div class="form-group text-center">
                     <input type="submit" value="Register" class="btn btn-success" >
                     <a class="btn btn-danger" href="homepage" role="button">Cancel</a>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>
</body>
}
